# Node関連
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 環境変数ファイル
.env.*
.env
!/frontend/.env.production

# Docker関連
docker-compose.override.yml

# OS / Editor関連
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# build生成物
frontend/dist/
backend/dist/
scheduler/dist/

# 開発用
coverage/
.eslintcache

# コンテンツ関連
backend/posts/*
!backend/posts/.gitkeep
backend/data/*
!backend/data/.gitkeep