.header {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Helvetica Neue", "Segoe UI", sans-serif;
  background-color: #ccfe7d;

  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.header-banner {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.content-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.category-card {
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #5a5a5a;
  transition: all 0.3s ease;
  padding: 0.5rem;
}

.category-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
}

.category-card p {
  font-size: 1rem; /* 少し大きく */
  font-weight: 500;
  margin: 0 0;
}

.category-card:hover {
  transform: translateY(-6px);
  color: #d77b6b;
  cursor: pointer;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari対応 */
  -moz-user-select: none; /* Firefox対応 */
  -ms-user-select: none; /* IE対応 */
}

@media (max-width: 767px) {
  .category-card img {
    width: 80px;
    height: 80px;
  }

  .category-card span {
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    color: #d7e8a1;
  }

  .category-card {
    color: #333333;
  }

  .category-card img {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }

  .category-card:hover {
    color: #f28b74;
  }
}
